.cart{
     display: flex;
     flex-direction: column;
     max-width: 600px;
     margin: 1em;

}

.cart img {
    width: 4em;
    height: 4em;
    object-fit: cover;
    border-radius: 6px;
}

/* .cart li > * {
  border: 1px dashed red;  
} */


.cart li {
   display: grid; 
   grid-template-columns: 9em 100px 80px 36px 30px 36px;
   /* border: solid black 1px; */
   align-items: center;
   gap: 1em;
   margin-bottom: 0.5em;
}

.boutton {
    width: 5em;
    color: white;
    background-color: black;
}