.notFound {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  height: 100vh;
  border: solid 1px red;
  background-image: url("https://images.unsplash.com/photo-1758677821677-33ad96c07cf5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw0OXx8fGVufDB8fHx8fA%3D%3D") ;
  color: aliceblue;

}

.border {
  border: 1px solid green;
  text-align: end;
}

.border button {
    margin: 1em;
}