.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 15em;
  height: 31em;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
  background-color: beige;
}

.card p,
.card li {
  font-size: 0.6em;
}

.card h1 {
  font-size: 1em;
}

.cardHeader img {
  display: block;
  width: 100%;
  height: 200px;
  max-height: 250px;
  object-fit: cover;
  overflow: hidden;
}

.cardMain {
  flex-grow: 1;
}

.cardFooter div {
  display: flex;
  justify-content: center;
  margin-top: auto;
  gap: 1.7em;
  padding: 0.7em;
}
