.cabeza{
    background-image: url('../assets/imgs/Header.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}


.titulo{
    color: rgb(236, 235, 235);

}

