.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  color: aliceblue;
  background-color: black;
}

.Navbar a{
  display: inline-block;
    margin: 0.5em;
    color: black;
    background-color: aliceblue;
    text-decoration: none;
    width: 5em;
    text-align: center;
    padding: 0.1em;
    border-radius: 5px;
   
}

.ButtonI{
    margin: 0.5em;
    color: black;
    background-color: rgb(223, 193, 150);
    text-decoration: none;
    width: 5em;
    height: 5em;
    text-align: center;
    padding: 0.1em;
    border-radius: 50%;
}

.Navbar button:hover{
  background-color: rgb(248, 0, 0);
}

.Navbar a:hover {
  text-decoration: underline;
}

.Navbar a.formulario {
  display: inline-block;
  background-color: rgb(223, 193, 150);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}